body{
    margin: 0px;
}
.main{
    width: 100%;
    height: auto;
    min-height: 100vh;
    padding: 60px 120px;
    box-sizing: border-box;
    background: rgb(211, 211, 211);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.coloumn{
    flex-direction: column;
}
.row-block{
    height: 150px;
    margin-bottom: 30px;
    background: rgb(180, 180, 180);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block-txt{
    margin: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: 600;
}